<aside id="rightSidebar">
    <h3>Updates</h3>
    <div class="box">
        <u class="underlined">9/1/2026</u>
        <ul>
            <li>migrated to SSG</li>
        </ul>
        <u class="underlined">8/18/2026</u>
        <ul>
            <li>this site exists now!</li>
        </ul>
    </div>
    <!-- font selector (fontSelector.js)-->
    <h3>Font</h3>
    <fieldset id="font-select">
        <legend>select a font:</legend>
        <div>
            <input id="maple" type="radio" name="font" value="Maple" checked onchange="fontChange(value);">
            <label for="maple">Maple</label>
        </div>
        <div>
            <input id="cozette" type="radio" name="font" value="Cozette" onchange="fontChange(value);">
            <label for="cozette">Cozette</label>
        </div>
        <div>
            <input id="ibm-vga" type="radio" name="font" value="IBM VGA" onchange="fontChange(value);">
            <label for="ibm-vga">IBM VGA</label>
        </div>
        <div>
            <input id="open-dyslexic3" type="radio" name="font" value="OpenDyslexic3" onchange="fontChange(value);">
            <label for="open-dyslexic3">OpenDyslexic3</label>
        </div>
    </fieldset>
</aside>